/*
*
* Shared
*
* Rest of the theme variables.
*
*/

$font: "Mulish", sans-serif;
$font-heading: "PinnacleDemiBold";
:root {
  --transition-time: 400ms;
  --transition-time-long: 1000ms;
  --transition-time-short: 200ms;
  --nav-size-slim: 6.1538rem;
  --nav-size: 22.1538rem;
  --footer-size: 5.5384rem;
  --input-height: 2.7692rem;
  --small-title-height: 2.4615rem;
  --font: "Mulish", sans-serif;
  --font-heading: "PinnacleDemiBold";
}

html[data-radius="rounded"] {
  --border-radius-lg: 12px;
  --border-radius-md: 6px;
  --border-radius-sm: 4px;
  --border-radius-xl: 50px;
}

html[data-radius="standard"] {
  --border-radius-lg: 6px;
  --border-radius-md: 6px;
  --border-radius-sm: 3px;
  --border-radius-xl: 4px;
}

html[data-radius="flat"] {
  --border-radius-lg: 0;
  --border-radius-sm: 0;
  --border-radius-md: 0;
  --border-radius-xl: 0;
}

:root {
  --card-spacing: 2rem;
  --card-spacing-sm: 1rem;
  --card-spacing-xs: 0.5rem;
  --card-spacing-sm-horizontal: 1.75rem 1.25rem;
  --card-spacing-sm-vertical: 1.25rem 1.75rem;

  --main-spacing-horizontal: 2.5rem;
  --main-spacing-vertical: 1.5rem;
  --title-spacing: 1.25rem;

  @include respond-below(lg) {
    --main-spacing-horizontal: 2rem;
  }

  @include respond-below(md) {
    --nav-size-slim: 4rem;
    --title-spacing: 1rem;
    --footer-size: 4rem;
  }

  @include respond-below(sm) {
    --card-spacing: 1rem;
    --footer-size: 3rem;
    --main-spacing-horizontal: 1.25rem;
    --main-spacing-vertical: 1.25rem;
  }
}
