/*
*
* Student Blue
*
* Theme variables.
*
*/

html[data-color="student-blue"] {
  --primary: #3c358f;
  --secondary: #EFF3FE;
  --tertiary: #f9a049;
  --quaternary: #ff5b1d;
  --primary-rgb: 60, 53, 143;
  --secondary-rgb: 239, 243, 254;
  --tertiary-rgb: 249, 160, 73;
  --quaternary-rgb: 233, 45, 98;

  --primary-darker: #4F43BF;
  --secondary-darker: #E2E8FD;
  --tertiary-darker: #e99645;
  --quaternary-darker: #ff5b1d;

  --body: #4e4e4e;
  --alternate: #7c7c7c;
  --muted: #fff;
  --separator: #dddddd;
  --separator-light: #f1f1f1;
  --body-rgb: 59, 59, 59;
  --alternate-rgb: 124, 124, 124;
  --muted-rgb: 176, 176, 176;
  --separator-rgb: 221, 221, 221;
  --separator-light-rgb: 241, 241, 241;

  --background: #f9f9f9;
  --foreground: #ffffff;
  --background-rgb: 249, 249, 249;
  --foreground-rgb: 255, 255, 255;

  --background-theme: #f1ecea;
  --background-light: #f8f8f8;

  --gradient-1: #3C358F;
  --gradient-2: #3C358F;
  --gradient-3: #3C358F;

  --gradient-1-lighter: #3C358F;
  --gradient-1-darker: #3C358F;

  --light-text: #fff;
  --dark-text: #343a40;
  --light-text-darker: #eeeeee;
  --dark-text-darker: #23272b;

  --light-text-rgb: 255, 255, 255;
  --dark-text-rgb: 52, 58, 64;

  --danger: #cf2637;
  --info: #279aac;
  --warning: #ebb71a;
  --success: #439b38;
  --light: #dadada;
  --dark: #4e4e4e;
  --danger-darker: #771a23;
  --info-darker: #278C9B;
  --warning-darker: #aa830f;
  --success-darker: #285422;
  --light-darker: #c9c9c9;
  --dark-darker: #282828;
  --body-darker: #333333;
  --alternate-darker: #616161;
  --muted-darker: #888888;
  --separator-darker: #c0c0c0;

  --danger-rgb: 182, 40, 54;
  --info-rgb: 41, 138, 153;
  --warning-rgb: 235, 183, 26;
  --success-rgb: 65, 139, 56;
  --light-rgb: 218, 218, 218;
  --dark-rgb: 78, 78, 78;

  --menu-shadow: 0px 3px 10px rgba(0, 0, 0, 0.12);
  --menu-shadow-navcolor: 0px 2px 6px rgba(0, 0, 0, 0.05);

  --background-navcolor-light: #fff;
  --background-navcolor-dark: #3b2b2f;

  --theme-image-filter: hue-rotate(158deg) contrast(1.5) brightness(0.9);

  --font-heading: "Mulish", sans-serif;
  --font: "Mulish", sans-serif;
}
