.btn-blue {
    background-color: #36a3f7;
    margin-left: 9px !important;
}

.btn-light-green {
    background-color: #9edfd1;
}

.btn-light-green:hover {
    background-color: #3ebfa3;
}

.btn-mr-15 {
    margin-right: 15px;
}

.btn-ml-15 {
    margin-left: 15px;
}

.btn-mb-15 {
    margin-bottom: 15px;
}

.btn-add-wide {
    color: #9b9b9b;
    border-color: #979797 !important;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
}
.btn-clear-file {
    width: 25px !important;
    height: 25px !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}

.btn-outline-secondary {
    color: #36a3f7;
    background-color: transparent;
    background-image: none;
    border-color: #36a3f7
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #36a3f7;
    border-color: #36a3f7
}

.btn-outline-secondary.focus, .btn-outline-secondary:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(235, 237, 242, .5);
    box-shadow: 0 0 0 .2rem rgba(235, 237, 242, .5)
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #ebedf2;
    background-color: transparent
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #36a3f7;
    border-color: #36a3f7
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(235, 237, 242, .5);
    box-shadow: 0 0 0 .2rem rgba(235, 237, 242, .5)
}

.btn.btn-publish {
    color: black;
    background-color: #3ebfa3;
    border-color: #3ebfa3;
    max-height: 33px;
} 

 .btn-publish:hover {
    background-color: #37A991;
    border-color: #37A991
}

 .btn-publish.focus, .btn-publish:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(52, 191, 163, .5);
    box-shadow: 0 0 0 .2rem rgba(52, 191, 163, .5)
}   

.btn-publish.disabled, .btn-publish:disabled {
    color: #fff;
    background-color: #3ebfa3;
    border-color: #3ebfa3
} 

.btn-publish:not(:disabled):not(.disabled).active, .btn-publish:not(:disabled):not(.disabled):active, .show > .btn-publish.dropdown-toggle {
    background-color: #37A991;
    border-color: #37A991
}

.btn-publish:not(:disabled):not(.disabled).active:focus, .btn-publish:not(:disabled):not(.disabled):active:focus, .show > .btn-publish.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(52, 191, 163, .5);
    box-shadow: 0 0 0 .2rem rgba(52, 191, 163, .5)
}

.btn.btn-outline-info.btn-outline-white {
    color: white !important;
}

.btn-outline-info.btn-outline-white {
    border-color: white !important;
}

.btn-info.m-btn--air.btn-outline-white,
.btn-outline-info.m-btn--air.btn-outline-white,
.m-btn--gradient-from-info.m-btn--air.btn-outline-white {
    box-shadow: 0 5px 10px 2px rgb(255 255 255 / 19%) !important;
}

.btn-fill-publish {
    color: white !important;
    background-color: #3ebfa3!important;
    margin-left: 2px;
    width: 45px;
    border-radius: 10px;
    background-image: none;
    border-color: #3ebfa3!important;
}

.btn-fill-publish:hover, .btn-fill-publish:focus {
    background-color: #37A991 !important;
    border-color: #37A991 !important;
}

.btn-fill-danger {
    color: white !important;
    background-color: #f4516c!important;
    margin-left: 2px;
    width: 45px;
    border-radius: 10px;
    background-image: none;
    border-color: #f4516c!important;
}

.btn-fill-danger:hover, .btn-fill-danger:focus {
    border-color: #D9455E !important;
    background: #D9455E !important;
}

.btn-pagination {
    color: #ff4900 !important;
}

.btn-pagination:hover {
    color: #fff !important;
    background-color: rgba(255, 73, 0, 0.8) !important;
}

.btn-custom-search-style {
    border: 1px solid #ddd !important;
    border-left-color: #fff !important
}

.btn-custom-search-style svg {
    width: 19px !important;
    height: 19px !important;
}

.btn-outline-metal {
    color: #c4c5d6;
    background-color: transparent;
    background-image: none;
    border: 1px solid #c4c5d6 !important;
}

.btn-outline-metal:hover {
    color: #fff;
    background-color: #c4c5d6;
    border-color: #c4c5d6
}

.btn-outline-metal.focus, .btn-outline-metal:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(196, 197, 214, .5);
    box-shadow: 0 0 0 .2rem rgba(196, 197, 214, .5)
}

.btn-outline-metal.disabled, .btn-outline-metal:disabled {
    color: #c4c5d6;
    background-color: transparent
}

.btn-outline-metal:not(:disabled):not(.disabled).active, .btn-outline-metal:not(:disabled):not(.disabled):active, .show > .btn-outline-metal.dropdown-toggle {
    color: #212529;
    background-color: #c4c5d6;
    border-color: #c4c5d6
}

.btn.btn-outline-primary {
    color: #5867dd !important;
    border-color: #5867dd !important;
}

.btn.btn-outline-primary:hover {
    background-color: #5867dd !important;
}

.btn.btn-outline-primary.active, .btn.btn-outline-primary.focus, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:hover:not(:disabled) {
    color: #fff !important
}

.btn-outline-metal:not(:disabled):not(.disabled).active:focus, .btn-outline-metal:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-metal.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(196, 197, 214, .5);
    box-shadow: 0 0 0 .2rem rgba(196, 197, 214, .5)
}

.btn-forgotPass {
    /* box-shadow: inset 0 0 0 1px var(--danger) !important; */
    border-color: #dc3545;
    border: 1px solid #dc3545;
    padding: 7px 20px !important;
    font-family: PinnacleRegular !important;
    color: var(--danger) !important;
    font-size: 14px !important;
}

.btn-forgotPass:hover {
    color: var(--light-text) !important;
    background-color: var(--danger);
    box-shadow: initial !important;
    border-color: #dc3545;
}

.btn-danger {
    color: #fff;
    background-color: #f4516c;
    border-color: #f4516c;
    transition: 0.4s;
}

.btn-danger:hover {
    color: #fff;
    background-color: #f22d4e;
    border-color: #f12143
}

.btn-danger:focus {
    color: #fff;
    background-color: #f22d4e;
    border-color: #f12143
}

.btn-danger.focus, .btn-danger:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(244, 81, 108, .5);
    box-shadow: 0 0 0 .2rem rgba(244, 81, 108, .5)
}

.btn-danger.disabled, .btn-danger:disabled {
    color: #fff;
    background-color: #f4516c;
    border-color: #f4516c
}

.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #f12143;
    border-color: #f01539
}

.btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .show > .btn-danger.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(244, 81, 108, .5);
    box-shadow: 0 0 0 .2rem rgba(244, 81, 108, .5)
}
.btn-success {
    color: #000 !important;
    background-color: #5dd75c !important;
    border-color: #5dd75c !important;
    max-height: 33px;
}

.btn-success:hover {
    background-color: #30C530 !important;
    border-color: #30C530 !important
}
.btn-link {
    font-weight: 400;
    color: #ff2f1a;
    background-color: transparent
}

.btn-link:hover {
    color: #ff2f1a;
    text-decoration: underline !important;
    background-color: transparent;
    border-color: transparent
}

.btn-link.focus, .btn-link:focus {
    text-decoration: underline;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-link.disabled, .btn-link:disabled {
    color: #6c757d;
    pointer-events: none
}
/* 
.btn-success.focus, .btn-success:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(52, 191, 163, .5);
    box-shadow: 0 0 0 .2rem rgba(52, 191, 163, .5)
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #3ebfa3;
    border-color: #3ebfa3
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {
    background-color: #30C530;
    border-color: #30C530
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show > .btn-success.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(52, 191, 163, .5);
    box-shadow: 0 0 0 .2rem rgba(52, 191, 163, .5)
}

.btn-outline-success {
    color: #5dd75c;
    background-color: transparent;
    background-image: none;
    border-color: #5dd75c
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #5dd75c;
    border-color: #5dd75c
}

.btn-outline-success.focus, .btn-outline-success:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(52, 191, 163, .5);
    box-shadow: 0 0 0 .2rem rgba(52, 191, 163, .5)
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
    color: #5dd75c;
    background-color: transparent
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #5dd75c;
    border-color: #5dd75c
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(52, 191, 163, .5);
    box-shadow: 0 0 0 .2rem rgba(52, 191, 163, .5)
} */

.button-green-custom {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: #39D2B4;
    padding: 14px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: all .4s;
    text-align: center;
    width: 100%;
    border-radius: 6px;
    user-select: none;
}

.button-green-custom:hover {
    background: #34495E;
    color: #39D2B4;
}


.imageActionButtons {
    display: flex;
    margin-bottom: 20px;
}

.imageActionButtons>button {
    border: 0;
}

.imageActionButtons>button:first-of-type {
    margin-right: 3px;
}

.imageActionButtons>button:last-of-type {
    margin-left: 3px;
}
.btn-info {
    color: #fff;
    background-color: #ff5b1d;
    border-color: #ff5b1d
}

.btn-info:hover {
    color: #fff;
    background-color: #ff5b1d;
    border-color: #ff5b1d
}

.btn-info.focus, .btn-info:focus {
    background-color: #ff5b1d;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ff5b1d
}

.btn-info.disabled, .btn-info:disabled {
    color: #fff;
    background-color: #ff5b1d;
    border-color: #ff5b1d
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #FFAD8E;
    border-color: #FFAD8E
}

.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show > .btn-info.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 91, 29, .5);
    box-shadow: 0 0 0 .2rem rgba(255, 91, 29, .5)
}
.btn-outline-info {
    color: #ff5b1d;
    background-color: transparent;
    background-image: none;
    border-color: #ff5b1d
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #ff5b1d;
    border-color: #ff5b1d
}

.btn-outline-info.focus, .btn-outline-info:focus {
    -webkit-box-shadow: 0 0 0 .2rem #ff5b1d;
    box-shadow: 0 0 0 .2rem #ff5b1d;
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
    color: #fff;
    background-color: transparent
}

.btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show > .btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #ff5b1d;
    border-color: #ff5b1d
}

.btn-outline-info:not(:disabled):not(.disabled).active:focus, .btn-outline-info:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-info.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem #ff5b1d;
    box-shadow: 0 0 0 .2rem #ff5b1d;
}

.m-btn--icon > span {
    display: table
}

.m-btn--icon > span > i {
    display: table-cell;
    vertical-align: middle;
    line-height: 0
}

.m-btn--icon > span [class*=" la-"]:not(.la-2x):not(.la-3x):not(.la-4x), .m-btn--icon > span [class^=la-]:not(.la-2x):not(.la-3x):not(.la-4x) {
    font-size: 1.3rem
}

.m-btn--icon > span [class*=" fa-"]:not(.fa-2x):not(.fa-3x):not(.fa-4x), .m-btn--icon > span [class^=fa-]:not(.fa-2x):not(.fa-3x):not(.fa-4x) {
    font-size: 1.1rem
}

.m-btn--icon > span [class*=" flaticon-"], .m-btn--icon > span [class^=flaticon-] {
    font-size: 1.3rem
}

.m-btn--icon > span > span {
    padding-left: .5em;
    display: table-cell;
    vertical-align: middle
}

.m-btn--icon.m-btn--icon-right > span > span {
    padding-left: 0;
    padding-right: .6em
}

.m-btn--icon.m-btn--icon-only {
    display: inline-block;
    position: relative;
    padding: 0 !important;
    width: 33px;
    height: 33px
}

.m-btn--icon.m-btn--icon-only > i {
    line-height: 0;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.m-btn--icon.m-btn--icon-only [class*=" la-"]:not(.la-2x):not(.la-3x):not(.la-4x), .m-btn--icon.m-btn--icon-only [class^=la-]:not(.la-2x):not(.la-3x):not(.la-4x) {
    font-size: 1.3rem
}

.m-btn--icon.m-btn--icon-only [class*=" fa-"]:not(.fa-2x):not(.fa-3x):not(.fa-4x), .m-btn--icon.m-btn--icon-only [class^=fa-]:not(.fa-2x):not(.fa-3x):not(.fa-4x) {
    font-size: 1.1rem
}

.m-btn--icon.m-btn--icon-only [class*=" flaticon-"], .m-btn--icon.m-btn--icon-only [class^=flaticon-] {
    font-size: 1.3rem
}

.m-btn--icon.m-btn--icon-only.th-btn-pill {
    border-radius: 100%
}

.btn-group-lg > .m-btn--icon.m-btn--icon-only.btn, .m-btn--icon.m-btn--icon-only.btn-lg {
    width: 43px;
    height: 43px
}

.btn-group-lg > .m-btn--icon.m-btn--icon-only.btn [class*=" la-"]:not(.la-2x):not(.la-3x):not(.la-4x), .btn-group-lg > .m-btn--icon.m-btn--icon-only.btn [class^=la-]:not(.la-2x):not(.la-3x):not(.la-4x), .m-btn--icon.m-btn--icon-only.btn-lg [class*=" la-"]:not(.la-2x):not(.la-3x):not(.la-4x), .m-btn--icon.m-btn--icon-only.btn-lg [class^=la-]:not(.la-2x):not(.la-3x):not(.la-4x) {
    font-size: 1.5rem
}

.btn-group-lg > .m-btn--icon.m-btn--icon-only.btn [class*=" fa-"]:not(.fa-2x):not(.fa-3x):not(.fa-4x), .btn-group-lg > .m-btn--icon.m-btn--icon-only.btn [class^=fa-]:not(.fa-2x):not(.fa-3x):not(.fa-4x), .m-btn--icon.m-btn--icon-only.btn-lg [class*=" fa-"]:not(.fa-2x):not(.fa-3x):not(.fa-4x), .m-btn--icon.m-btn--icon-only.btn-lg [class^=fa-]:not(.fa-2x):not(.fa-3x):not(.fa-4x) {
    font-size: 1.3rem
}

.btn-group-lg > .m-btn--icon.m-btn--icon-only.btn [class*=" flaticon-"], .btn-group-lg > .m-btn--icon.m-btn--icon-only.btn [class^=flaticon-], .m-btn--icon.m-btn--icon-only.btn-lg [class*=" flaticon-"], .m-btn--icon.m-btn--icon-only.btn-lg [class^=flaticon-] {
    font-size: 1.5rem
}

.btn-group-sm > .m-btn--icon.m-btn--icon-only.btn, .m-btn--icon.m-btn--icon-only.btn-sm {
    width: 30px;
    height: 30px
}

.btn-group-sm > .m-btn--icon.m-btn--icon-only.btn [class*=" la-"]:not(.la-2x):not(.la-3x):not(.la-4x), .btn-group-sm > .m-btn--icon.m-btn--icon-only.btn [class^=la-]:not(.la-2x):not(.la-3x):not(.la-4x), .m-btn--icon.m-btn--icon-only.btn-sm [class*=" la-"]:not(.la-2x):not(.la-3x):not(.la-4x), .m-btn--icon.m-btn--icon-only.btn-sm [class^=la-]:not(.la-2x):not(.la-3x):not(.la-4x) {
    font-size: 1.1rem
}

.btn-group-sm > .m-btn--icon.m-btn--icon-only.btn [class*=" fa-"]:not(.fa-2x):not(.fa-3x):not(.fa-4x), .btn-group-sm > .m-btn--icon.m-btn--icon-only.btn [class^=fa-]:not(.fa-2x):not(.fa-3x):not(.fa-4x), .m-btn--icon.m-btn--icon-only.btn-sm [class*=" fa-"]:not(.fa-2x):not(.fa-3x):not(.fa-4x), .m-btn--icon.m-btn--icon-only.btn-sm [class^=fa-]:not(.fa-2x):not(.fa-3x):not(.fa-4x) {
    font-size: 1rem
}

.btn-group-sm > .m-btn--icon.m-btn--icon-only.btn [class*=" flaticon-"], .btn-group-sm > .m-btn--icon.m-btn--icon-only.btn [class^=flaticon-], .m-btn--icon.m-btn--icon-only.btn-sm [class*=" flaticon-"], .m-btn--icon.m-btn--icon-only.btn-sm [class^=flaticon-] {
    font-size: 1.1rem
}

.m-btn--icon.m-btn--custom > span [class*=" la-"]:not(.la-2x):not(.la-3x):not(.la-4x), .m-btn--icon.m-btn--custom > span [class^=la-]:not(.la-2x):not(.la-3x):not(.la-4x) {
    font-size: 1.3rem
}

.m-btn--icon.m-btn--custom > span [class*=" fa-"]:not(.fa-2x):not(.fa-3x):not(.fa-4x), .m-btn--icon.m-btn--custom > span [class^=fa-]:not(.fa-2x):not(.fa-3x):not(.fa-4x) {
    font-size: 1.1rem
}

.m-btn--icon.m-btn--custom > span [class*=" flaticon-"], .m-btn--icon.m-btn--custom > span [class^=flaticon-] {
    font-size: 1.3rem
}

.btn-group-lg > .m-btn--icon.m-btn--custom.btn > span [class*=" la-"]:not(.la-2x):not(.la-3x):not(.la-4x), .btn-group-lg > .m-btn--icon.m-btn--custom.btn > span [class^=la-]:not(.la-2x):not(.la-3x):not(.la-4x), .m-btn--icon.m-btn--custom.btn-lg > span [class*=" la-"]:not(.la-2x):not(.la-3x):not(.la-4x), .m-btn--icon.m-btn--custom.btn-lg > span [class^=la-]:not(.la-2x):not(.la-3x):not(.la-4x) {
    font-size: 1.5rem
}

.btn-group-lg > .m-btn--icon.m-btn--custom.btn > span [class*=" fa-"]:not(.fa-2x):not(.fa-3x):not(.fa-4x), .btn-group-lg > .m-btn--icon.m-btn--custom.btn > span [class^=fa-]:not(.fa-2x):not(.fa-3x):not(.fa-4x), .m-btn--icon.m-btn--custom.btn-lg > span [class*=" fa-"]:not(.fa-2x):not(.fa-3x):not(.fa-4x), .m-btn--icon.m-btn--custom.btn-lg > span [class^=fa-]:not(.fa-2x):not(.fa-3x):not(.fa-4x) {
    font-size: 1.2rem
}

.btn-group-lg > .m-btn--icon.m-btn--custom.btn > span [class*=" flaticon-"], .btn-group-lg > .m-btn--icon.m-btn--custom.btn > span [class^=flaticon-], .m-btn--icon.m-btn--custom.btn-lg > span [class*=" flaticon-"], .m-btn--icon.m-btn--custom.btn-lg > span [class^=flaticon-] {
    font-size: 1.5rem
}

.btn-group-sm > .m-btn--icon.m-btn--custom.btn > span [class*=" la-"]:not(.la-2x):not(.la-3x):not(.la-4x), .btn-group-sm > .m-btn--icon.m-btn--custom.btn > span [class^=la-]:not(.la-2x):not(.la-3x):not(.la-4x), .m-btn--icon.m-btn--custom.btn-sm > span [class*=" la-"]:not(.la-2x):not(.la-3x):not(.la-4x), .m-btn--icon.m-btn--custom.btn-sm > span [class^=la-]:not(.la-2x):not(.la-3x):not(.la-4x) {
    font-size: 1.1rem
}

.btn-group-sm > .m-btn--icon.m-btn--custom.btn > span [class*=" fa-"]:not(.fa-2x):not(.fa-3x):not(.fa-4x), .btn-group-sm > .m-btn--icon.m-btn--custom.btn > span [class^=fa-]:not(.fa-2x):not(.fa-3x):not(.fa-4x), .m-btn--icon.m-btn--custom.btn-sm > span [class*=" fa-"]:not(.fa-2x):not(.fa-3x):not(.fa-4x), .m-btn--icon.m-btn--custom.btn-sm > span [class^=fa-]:not(.fa-2x):not(.fa-3x):not(.fa-4x) {
    font-size: 1rem
}

.btn-group-sm > .m-btn--icon.m-btn--custom.btn > span [class*=" flaticon-"], .btn-group-sm > .m-btn--icon.m-btn--custom.btn > span [class^=flaticon-], .m-btn--icon.m-btn--custom.btn-sm > span [class*=" flaticon-"], .m-btn--icon.m-btn--custom.btn-sm > span [class^=flaticon-] {
    font-size: 1.1rem
}

.m-btn--icon.m-btn--custom.m-btn--icon-only {
    width: 40px;
    height: 40px
}

.btn-group-lg > .m-btn--icon.m-btn--custom.m-btn--icon-only.btn, .m-btn--icon.m-btn--custom.m-btn--icon-only.btn-lg {
    width: 50px;
    height: 50px
}

.btn-group-sm > .m-btn--icon.m-btn--custom.m-btn--icon-only.btn, .m-btn--icon.m-btn--custom.m-btn--icon-only.btn-sm {
    width: 30px;
    height: 30px
}

.m-btn--icon.btn-block > span {
    text-align: center;
    margin: 0 auto
}

