@font-face {
	font-family: 'MongolianScript';
	src: url('../font/MongolianScript.ttf');
}
@font-face {
	font-family: 'MongolianBaiti';
	src: url('../font/monbaiti.ttf');
}
@font-face {
	font-family: 'MongolianWriting';
	src: url('../font/Mglwrite.ttf');
}

@font-face {
    font-family: 'CMSUlaanbaatar';
    src: url('../font/CMSUB.TTF');
  }

@font-face {
    font-family: LineAwesomeOld;
    src: url(../font/line-awesome/line-awesome.eot);
    src: url(../font/line-awesome/line-awesome.eot?v=1.1.#iefix) format("embedded-opentype"), url(../font/line-awesome/line-awesome.woff2?v=1.1.) format("woff2"), url(../font/line-awesome/line-awesome.woff?v=1.1.) format("woff"), url(../font/line-awesome/line-awesome.ttf?v=1.1.) format("truetype"), url(../font/line-awesome/line-awesome.svg?v=1.1.#fa) format("svg");
    font-weight: 400;
    font-style: normal
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: LineAwesomeOld;
        src: url(../font/line-awesome/line-awesome.svg?v=1.1.#fa) format("svg")
    }
}

/* This file is reserved for overriding and extending the template styles. */
/* // audio player container width fixed */
html { font-size: 13px; }

body,
.m-subheader__title,
.m-nav__link-text,
.m-portlet__head-caption .m-portlet__head-text,
.m-portlet__head-title>a,
.form-control {
    font-family: MulishRegular !important;
}

/* body,
.m-subheader__title,
.m-nav__link-text,
.m-portlet__head-caption .m-portlet__head-text,
.m-portlet__head-title>a,
.form-control {
    font-family: MulishRegular !important;
} */

.student-dummy-white {
    background: white;
    width: 50px;
    height: 56px;
    position: absolute;
    left: 260px;
}

.rhap_container{
    max-width: 100% !important;
}

.object-fit-contain {
    object-fit: contain !important;
}

/* list eer haruulah ved render hiij bga */
.component-list .auto-width-iframe {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    width:100%;
    height:100%;
}

/* zuvhun video vzeh ved render hiij bgaa */
.video-component .auto-width-iframe {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.auto-width-iframe iframe {
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
}

.auto-width-iframe body{
    display: flex;
    align-items: start !important;
    justify-content: start !important;
}

.vp-center{
    display: flex;
    align-items: start !important;
    justify-content: start !important;

}

a {
    display: inline-block;
}
.text-right {
    text-align: right;
}

.main-green {
    color: #82b542
}

.main-orange {
    color: #ff4900
}

.main-gray {
    color: #b2b3b2
}

.main-background-20 {
    background-color: rgba(255, 73, 0, 0.2);
}

.cursor {
    cursor: pointer !important;
}

.br-20{
    border-radius: 20px !important;
}

.br-16{
    border-radius: 16px !important;
}

.font-weight-100 {
    font-weight: 100 !important;
}
.font-weight-200 {
    font-weight: 200 !important;
}
.font-weight-300 {
    font-weight: 300 !important;
}
.font-weight-400 {
    font-weight: 400 !important;
}
.font-weight-500 {
    font-weight: 500 !important;
}
.font-weight-600 {
    font-weight: 600 !important;
}
.font-weight-700 {
    font-weight: 700 !important;
}
.font-weight-800 {
    font-weight: 800 !important;
}
.font-weight-900 {
    font-weight: 900 !important;
}

.on-scrollbar{
    scrollbar-width: thin; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.on-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent !important;
}

.on-scrollbar::-webkit-scrollbar {
    width: 6px !important;
    background-color: transparent;
}

.on-scrollbar::-webkit-scrollbar-thumb {
    background-color: #acacac;  
}

/* mathAjax -н expire message */
.wrs_tickContainer {
    visibility: hidden;
   height: 0;
} 

.context-click-menu-style {
    border: 1px solid #ff4900;
    border-radius: 6px;
    background: #fff;
    color: #ff4900;
    font-size: 0.8rem;
    padding: 2px 4px;
}

.black-color {
    color: #000 !important;
    font-weight: 500;
}

.main-color {
    color: #3C358F;
    font-weight: 500;
}

.red-color {
    color: #FF003D;
    font-weight: 500;
}

.modal .modal-title {
    font-size: 1rem;
    color: #ff5b1d;
    font-weight: bold;
}
.doubleModal {
    background-color: rgba(0, 0, 0, .6);
    width: 100vw;
}

.eschool-checkbox input {
    margin-right: 0.5rem;
    vertical-align: inherit;
}

/************ datetime picker css ***********/
.react-datepicker-wrapper {
    width: auto;
}

.react-datetime-picker .react-datetime-picker__wrapper {
    border: none;
}

.react-datetime-picker .react-datetime-picker__wrapper .react-datetime-picker__button {
    display: none;
}

.react-datetime-picker .react-datetime-picker__wrapper .react-datetime-picker__inputGroup {
    padding: 0.65rem 1rem;
    border-radius: 0.42rem;
    border: 1px solid var(--primary);
    text-align: center;
    height: 37px;
    line-height: 1;
}

.react-datepicker-wrapper .react-datepicker__input-container input {
    display: block;
    border: 1px solid var(--primary);
    /* width: 100%; */
    height: calc(1.5em + 1.3rem + 2px);
    padding: 0.65rem 1rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #464E5F;
    background-color: #ffffff;
    background-clip: padding-box;
    border-radius: 0.42rem;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}

/************ datetime picker css end ***********/
/***************** date-picker-range-container css **************/
.date-picker-range-container {
    width: auto;
    display: inline-flex;
}

.date-picker-range-container .first-datepicker {
    height: 38px !important;
    border-right-width: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-color: rgb(204, 204, 204) !important;
}

.date-picker-range-container .last-datepicker {
    height: 38px !important;
    border-left-width: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-color: rgb(204, 204, 204) !important;
}

.date-picker-range-container .first-timepicker {
    height: 37px !important;
    border-right-width: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-color: rgb(204, 204, 204) !important;
}

.date-picker-range-container .last-timepicker {
    height: 37px !important;
    border-left-width: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-color: rgb(204, 204, 204) !important;
}

.date-picker-range-container .react-datepicker-wrapper:nth-child(2) {
    font-size: 1.3rem;
    width: auto !important;
}

.date-picker-range-container .react-datepicker-with-icon {
    font-size: 1.37rem !important;
}

/***************** date-picker-range-container css end **************/
/***************** dropdown css **************/
.eschool-select.is-invalid>div:first-of-type {
    border: 1px solid #F64E60 !important;
    box-shadow: none;
}

.user-menu-wide {
    width: calc(var(--nav-size) - calc(var(--main-spacing-vertical)) - 40px);
    padding: 20px 30px 20px 30px;
}

div.ui.dropdown.disabled {
    background-color: #f4f5f8;
    border-color: #f4f5f8;
    opacity: unset;
    color: #6f727d;
}

.ui.selection.active.dropdown,
.ui.selection.active.dropdown .menu {
    border-color: #ff5b1d !important;
    cursor: pointer;
}

/***************** dropdown css end **************/
/***************** modal css **************/
.modal-footer {
    display: block;
}

img.img-circle {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    object-fit: cover;
}

.viewTeacherModal .col-4 {
    text-align: right;
}

.viewTeacherModal .col-8 {
    text-align: left;
}

.viewTeacherModal .col-8 table {
    display: inline-block;
    border-collapse: separate;
    border-spacing: 15px 0;
}

.viewTeacherModal .col-8 table>tbody>tr>td {
    text-align: right;
}

.viewTeacherModal .col-8 table>tbody>tr>td.vertical {
    vertical-align: top;
}

.viewTeacherModal .col-8 table>tbody>tr>th>li {
    list-style: none;
}

.viewTeacherModal>div>div.col-4>img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 1.3rem;
}

.viewTeacherModal>div>div>table {
    font-size: 1rem;
    color: #7a7a86;
}

table.viewTeacherTable>tr>th {
    text-align: left;
}

.viewTeacherModal>div>div>table>tbody>tr>th {
    border: none;
    padding: 1px;
}

/***************** modal css end **************/
/***************** card css end **************/
.card {
    box-shadow: none !important;
}
.card-header {
    padding: 1rem 2.25rem !important;
}

.card-header-with-tab .card-header {
    border-bottom: 2px solid rgba(255, 73, 0, 0.2) !important;
}

.card-header-tabs {
    margin-bottom: -1rem !important;
    margin-left: -2.25rem !important;
}

.card-header-tabs .nav-item {
    margin-right: 0 !important;
}

.card-header-tabs .nav-item .nav-link {
    position: relative;
    top: 1px;
    border-left: none;
    border-top: none;
    border-right: none;
}

.card-header-tabs .nav-item .nav-link.active {
    position: relative;
    top: 1px;
    color: #ff4900;
    font-weight: bold;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #ff4900;
}

.nav .show>.nav-link,
.nav .nav-link:hover:not(.disabled),
.nav .nav-link.active {
    position: relative;
    top: 1px;
    /*color: #29569f !important;*/
    /*font-weight: 500;*/
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #ff4900;
}

.largeModalSelectMultiple {
    width: 10rem;
}

/***************** card css end **************/



/*&.separator-border-2 {*/
/*     border-bottom-width: 2px;*/
/* }*/

/*&.separator-border-3 {*/
/*     border-bottom-width: 3px;*/
/* }*/

/*&.separator-border-4 {*/
/*     border-bottom-width: 4px;*/
/* }*/

/*// Theme colors*/
/*@each $name, $color in $theme-colors {*/
/*&.separator-#{$name} {*/
/*    border-bottom-color: $color;*/
/*}*/
/*}*/
/*}*/
/***************** date-picker-range-container css end **************/

/***************** DTable css **************/
.react-bootstrap-table table {
    table-layout: unset !important;
}
.dtableColumnCheckbox {
    padding: 9px;
}

/***************** DTable css end **************/

/***************** Pinnacle fonts  **************/
.pinnacle-regular {
    font-family: PinnacleRegular;
}

.pinnacle-light {
    font-family: PinnacleLight;
}

.pinnacle-bold {
    font-family: PinnacleBold;
}

.pinnacle-medium {
    font-family: PinnacleMedium;
}

.pinnacle-demi-bold {
    font-family: PinnacleDemiBold;
}

.pinnacle-demi-bold p {
    font-family: PinnacleDemiBold;
}

.pinnacle-extra-bold {
    font-family: PinnacleExtraBold;
}

/***************** Pinnacle Fonts end **************/
/***************** Tree switcher icon style **************/
.icon-with-tree .rc-tree.rc-tree-show-line .rc-tree-list .rc-tree-title {
    margin-left: 10px;
}

.icon-with-tree .rc-tree.rc-tree-show-line .rc-tree-list .rc-tree-switcher img {
    position: relative;
    left: 14px;
    top: 2px;
}

/***************** Tree switcher icon style **************/

/***************** Toast override default font  **************/
.Toastify__toast-body {
    font-family: 'Mulish', sans-serif;
}

/***************** Toast override default font end **************/
/***************** Checkbox component style **************/
/* The container */
.checkbox-container {
    display: initial;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #FF5B1D;
    border-radius: 6px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
    background-color: #FF5B1D;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 8px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/***************** Toast override default font end **************/
/***************** Background colord **************/

.background-white {
    background-color: white;
}

.datepicker-style {
    width: 100%;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 12px;
    background: white;
    text-align: inherit;
    color: hsl(0, 0%, 50%);
}

.custom-cm-item:hover {
    background-color: rgba(255, 73, 0, 0.2);
}
.no-wrap{
    width: auto;
    max-width: max-content;
    min-width: 200px;
}
.width-350{
    min-width: 350px !important;
}
.no-wrap > div:first-of-type{
    border: none;
    background: none;
    justify-content: unset !important;
}
.no-wrap > div:first-of-type(1):hover{
    border: none;
    background: none;
}
.no-wrap > div:first-of-type(1):focus{
    border: none;
    background: none;
}
.no-wrap div:nth-of-type(1) div div{
    color: #ff4900 !important;
    background: none !important;
}
.no-wrap span:nth-child(1){
    display: none;
}
.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    align-items: center;
    font-family: PinnacleBold !important;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .65rem 1rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.3076rem;
}
.btn-custom-search-style {
    border: 1px solid #ddd !important;
    border-left-color: #fff !important
}

.btn-custom-search-style svg {
    width: 19px !important;
    height: 19px !important;
}

.btn-outline-metal {
    color: #c4c5d6;
    background-color: transparent;
    background-image: none;
    border-color: #c4c5d6
}

.btn-outline-metal:hover {
    color: #fff;
    background-color: #c4c5d6;
    border-color: #c4c5d6
}

.btn-outline-metal.focus, .btn-outline-metal:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(196, 197, 214, .5);
    box-shadow: 0 0 0 .2rem rgba(196, 197, 214, .5)
}

.btn-outline-metal.disabled, .btn-outline-metal:disabled {
    color: #c4c5d6;
    background-color: transparent
}

.btn-outline-metal:not(:disabled):not(.disabled).active, .btn-outline-metal:not(:disabled):not(.disabled):active, .show > .btn-outline-metal.dropdown-toggle {
    color: #212529;
    background-color: #c4c5d6;
    border-color: #c4c5d6
}

.btn-outline-metal:not(:disabled):not(.disabled).active:focus, .btn-outline-metal:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-metal.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(196, 197, 214, .5);
    box-shadow: 0 0 0 .2rem rgba(196, 197, 214, .5)
}

.react-datepicker-popper {
    z-index: 200 !important;
}

/***************** STUDENT STYLE **************/
.nav-student .nav-content {
    padding-top: 0 !important;
    align-items: unset !important;
}
.nav-student .nav-content .logo {
    text-align: left !important;
}
.nav-student .nav-content .logo a {
    width: 180px !important;
}
.button-menu-search {
    border: 1px solid #3C358F;
    border-right-color: #494392;
    background: #494392;
}
.input-menu-search {
    border: 1px solid #3C358F;
    background: #494392;
    color: #fff;
}
.input-menu-search:focus {
    background: #494392;
    color: #fff;
}
.input-menu-search::placeholder {
    color: #F1F2F4;
}
.menu-student-info{
    padding: 10px;
}
.menu-student-info > div{
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #4f499a;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
}
.modal-content > .screen-padding{
    padding: 0 !important;
}
.border-less {
    border: none !important;
    border-radius: unset !important;
}
.border-gray{
    border: 1px solid rgba(0,0,0,0.2) !important;
}
.h-38{
    height: 38px !important;
}
.padding-15 {
    padding: 15px !important;
}
.padding-30 {
    padding: 30px !important;
}
.padding-45 {
    padding: 45px !important;
}
.padding-60 {
    padding: 60px !important;
}
@media only screen and (min-width: 1700px) {
    .cal-width.col-xxl-9 {
        width: 76% !important;
    }
}
@media only screen and (min-width: 1750px) {
    .cal-width.col-xxl-9 {
        width: 77% !important;
    }
}
@media only screen and (min-width: 1800px) {
    .cal-width.col-xxl-9 {
        width: 78% !important;
    }
}
@media only screen and (min-width: 1850px) {
    .cal-width.col-xxl-9 {
        width: 79% !important;
    }
}
@media only screen and (min-width: 1900px) {
    .cal-width.col-xxl-9 {
        width: 80% !important;
    }
}
@media only screen and (min-width: 1950px) {
    .cal-width.col-xxl-9 {
        width: 81% !important;
    }
}
@media only screen and (min-width: 2000px) {
    .cal-width.col-xxl-9 {
        width: 82% !important;
    }
}
@media only screen and (min-width: 2050) {
    .cal-width.col-xxl-9 {
        width: 83% !important;
    }
}

@media only screen and (min-width: 2100) {
    .cal-width.col-xxl-9 {
        width: 84% !important;
    }
}

@media only screen and (min-width: 2150) {
    .cal-width.col-xxl-9 {
        width: 85% !important;
    }
}

@media only screen and (min-width: 2200) {
    .cal-width.col-xxl-9 {
        width: 86% !important;
    }
}

@media only screen and (min-width: 2250) {
    .cal-width.col-xxl-9 {
        width: 87% !important;
    }
}

@media only screen and (min-width: 2300) {
    .cal-width.col-xxl-9 {
        width: 88% !important;
    }
}

@media only screen and (min-width: 2350) {
    .cal-width.col-xxl-9 {
        width: 89% !important;
    }
}

@media only screen and (min-width: 2400) {
    .cal-width.col-xxl-9 {
        width: 90% !important;
    }
}

@media only screen and (min-width: 2450) {
    .cal-width.col-xxl-9 {
        width: 91% !important;
    }
}

@media only screen and (min-width: 2500) {
    .cal-width.col-xxl-9 {
        width: 92% !important;
    }
}

@media only screen and (min-width: 2550) {
    .cal-width.col-xxl-9 {
        width: 93% !important;
    }
}

@media only screen and (min-width: 2600) {
    .cal-width.col-xxl-9 {
        width: 94% !important;
    }
}

@media only screen and (min-width: 2650) {
    .cal-width.col-xxl-9 {
        width: 95% !important;
    }
}

@media only screen and (min-width: 2700) {
    .cal-width.col-xxl-9 {
        width: 96% !important;
    }
}

@media only screen and (min-width: 2750) {
    .cal-width.col-xxl-9 {
        width: 97% !important;
    }
}

@media only screen and (min-width: 2800) {
    .cal-width.col-xxl-9 {
        width: 98% !important;
    }
}

@media only screen and (min-width: 2850) {
    .cal-width.col-xxl-9 {
        width: 99% !important;
    }
}

@media only screen and (min-width: 2900) {
    .cal-width.col-xxl-9 {
        width: 100% !important;
    }
}

@media screen and (max-width: 979px) {
    .menu-student-info {
        padding: 0 !important;
        margin-left: auto;
    }
    .menu-student-info > div{
        border: 1px solid rgba(255, 255, 255, 0.2);
        background-color: #4f499a;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 8px;
        max-height: 64px;
        overflow: hidden;
    }
}

.accordion-custom-style > .accordion-item {
    border: unset;
}
.accordion-custom-style .accordion-header button {
    padding: 8px;
    font-size: 14px !important;
}
.accordion-custom-style .accordion-body {
    padding: unset;
}
.accordion-custom-style button {
    padding: 10px 20px;
    border: none;
}
.accordion-custom-style .active.accordion-header {
    background-color: #d8d9db;
    border-radius: 6px;
    color: #4e4e4e !important
}
.accordion-custom-style .accordion-button:not(.collapsed) {
    color: #4e4e4e !important
}

.html-content-container * {
    margin-bottom: 0 !important;
}

.main-student #contentArea {
    padding-right: 0;
    padding-left: 0;
}

.student-page-title-container h1 {
    color: #000 !important;
}

.margin-less-05 p {
    margin-bottom: 0.5rem !important;
}

.margin-less p {
    margin-bottom: 0 !important;
}

.tradition-text {
    font-size: 28px !important;
    -moz-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -o-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: tb-lr;
    -webkit-text-orientation: sideways-right;
    text-justify: inter-ideograph;
    text-align: left;
    width: 100%;
    color: #575962;
    height: 100%;
    border-radius: .25rem;
    /* font-family: "Mulish", sans-serif; */
    /* font-family: 'CMSUlaanbaatar'; */
    font-family: 'MongolianBaiti';
    padding: 3px 5px;
}

.tradition-text-no-width {
    font-size: 28px !important;
    -moz-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -o-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: tb-lr;
    -webkit-text-orientation: sideways-right;
    text-justify: inter-ideograph;
    text-align: left;
    color: #575962;
    height: 100%;
    border-radius: .25rem;
    font-family: 'MongolianBaiti';
    padding: 3px 5px;
}

.tradition-text-student {
    max-height: 300px !important;
    height: auto !important;
    line-height: 1.3;
}

.tradition-text-student-dropzone {
    max-height: 75px !important;
    height: auto !important;
    line-height: 1;
    font-size: 18px !important;
}

.mongolian-script-input {
    border: 1px solid #ebedf2;
    /* font-family: 'MongolianScript'; */
    font-family: "Mulish", sans-serif;
    writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -o-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    text-orientation: sideways-right;
    -webkit-text-orientation: sideways-right;
    text-align: left;
    min-height: 20px;
    background: #fff;
    min-width: 50px;
    font-size: 20px;
    height: 100%;
    width: 100%;
}
.mongolian-script-input b {
    font-weight: 900;
}
.button-bold-mscript {
    height: 30px;
    width: 30px;
    background: #fff;
    border: 0;
    font-weight: bold;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    padding: 0 !important;
}

.tradition-style > div {
    font-size: 2rem;
}

.tradition-text:focus {
    border-color: #6167e0;
}

.resize-container {
    height: 150px;
    min-height: 150px;
    min-width: 300px;
    border: 1px solid #ebedf2;
    overflow: hidden;
    resize: vertical;
}
.resize-vertical {
    resize: vertical;
}
.basket {
    height: 100px;
    background-color: gray;
}

.drag-list-style {
    border: 1px solid #dcdfe4;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 4px;
    margin-right: 15px;
}

.drag-list-path-style {
    border: 1px solid #dcdfe4;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 4px;
}

.drag-list-style p, .dropzone-text-style p, .dnd-style p {
    margin-bottom: 0 !important;
}

.non-max-width {
    max-width: none !important;
}

.match-sk-editor-container-first {
    width: calc(100% - 242px);
    margin-bottom: 4px;
}

.match-sk-editor-container {
    width: calc(100% - 272px);
    margin-bottom: 4px;
}

.rdw-option-wrapper {
    border: 1px solid #F1F1F1;
    padding: 5px !important;
    min-width: 25px;
    height: 20px;
    border-radius: 2px;
    margin: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: white;
    text-transform: capitalize;
}

.rdw-option-wrapper:hover {
    box-shadow: 1px 1px 0 #BFBDBD;
}

.rdw-option-wrapper:active {
    box-shadow: 1px 1px 0 #BFBDBD inset;
}

.rdw-option-active {
    box-shadow: 1px 1px 0 #BFBDBD inset;
}

.rdw-option-disabled {
    opacity: 0.3;
    cursor: default;
}

.rdw-dropdown-wrapper {
    height: 30px;
    background: white;
    cursor: pointer;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    margin: 0 3px;
    text-transform: capitalize;
}

.rdw-dropdown-wrapper:focus {
    outline: none;
}

.rdw-dropdown-wrapper:hover {
    box-shadow: 1px 1px 0px #BFBDBD;
    background-color: #FFFFFF;
}

.rdw-dropdown-wrapper:active {
    box-shadow: 1px 1px 0px #BFBDBD inset;
}

.rdw-dropdown-carettoopen {
    height: 0px;
    width: 0px;
    position: absolute;
    top: 35%;
    right: 10%;
    border-top: 6px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.rdw-dropdown-carettoclose {
    height: 0px;
    width: 0px;
    position: absolute;
    top: 35%;
    right: 10%;
    border-bottom: 6px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.rdw-dropdown-selectedtext {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    padding: 0 5px;
}

.rdw-dropdown-optionwrapper {
    z-index: 100;
    position: relative;
    border: 1px solid #F1F1F1;
    width: 98%;
    background: white;
    border-radius: 2px;
    margin: 0;
    padding: 0;
    max-height: 250px;
    overflow-y: scroll;
}

.rdw-dropdown-optionwrapper:hover {
    box-shadow: 1px 1px 0px #BFBDBD;
    background-color: #FFFFFF;
}

.rdw-dropdownoption-default {
    min-height: 25px;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.rdw-dropdownoption-highlighted {
    background: #F1F1F1;
}

.rdw-dropdownoption-active {
    background: #f5f5f5;
}

.rdw-dropdownoption-disabled {
    opacity: 0.3;
    cursor: default;
}

.rdw-inline-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    flex-wrap: wrap
}

.rdw-inline-dropdown {
    width: 50px;
}

.rdw-inline-dropdownoption {
    height: 40px;
    display: flex;
    justify-content: center;
}

.rdw-block-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    flex-wrap: wrap
}

.rdw-block-dropdown {
    width: 110px;
}

.rdw-fontsize-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    flex-wrap: wrap
}

.rdw-fontsize-dropdown {
    min-width: 40px;
}

.rdw-fontsize-option {
    display: flex;
    justify-content: center;
}

.rdw-fontfamily-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    flex-wrap: wrap
}

.rdw-fontfamily-dropdown {
    width: 115px;
}

.rdw-fontfamily-placeholder {
    white-space: nowrap;
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rdw-fontfamily-optionwrapper {
    width: 140px;
}

.rdw-list-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    flex-wrap: wrap
}

.rdw-list-dropdown {
    width: 50px;
    z-index: 90;
}

.rdw-list-dropdownOption {
    height: 40px;
    display: flex;
    justify-content: center;
}

.rdw-text-align-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    flex-wrap: wrap
}

.rdw-text-align-dropdown {
    width: 50px;
    z-index: 90;
}

.rdw-text-align-dropdownOption {
    height: 40px;
    display: flex;
    justify-content: center;
}

.rdw-right-aligned-block {
    text-align: right;
}

.rdw-left-aligned-block {
    text-align: left !important;
}

.rdw-center-aligned-block {
    text-align: center !important;
}

.rdw-justify-aligned-block {
    text-align: justify !important;
}

.rdw-right-aligned-block>div {
    display: inline-block;
}

.rdw-left-aligned-block>div {
    display: inline-block;
}

.rdw-center-aligned-block>div {
    display: inline-block;
}

.rdw-justify-aligned-block>div {
    display: inline-block;
}

.rdw-colorpicker-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    position: relative;
    flex-wrap: wrap
}

.rdw-colorpicker-modal {
    position: absolute;
    top: 35px;
    left: 5px;
    display: flex;
    flex-direction: column;
    width: 175px;
    height: 175px;
    border: 1px solid #F1F1F1;
    padding: 15px;
    border-radius: 2px;
    z-index: 100;
    background: white;
    box-shadow: 3px 3px 5px #BFBDBD;
}

.rdw-colorpicker-modal-header {
    display: flex;
    padding-bottom: 5px;
}

.rdw-colorpicker-modal-style-label {
    font-size: 15px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    padding: 0 10px 5px;
}

.rdw-colorpicker-modal-style-label-active {
    border-bottom: 2px solid #0a66b7;
}

.rdw-colorpicker-modal-options {
    margin: 5px auto;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    overflow: scroll;
}

.rdw-colorpicker-cube {
    width: 22px;
    height: 22px;
    border: 1px solid #F1F1F1;
}

.rdw-colorpicker-option {
    margin: 3px;
    padding: 0;
    min-height: 20px;
    border: none;
    width: 22px;
    height: 22px;
    min-width: 22px;
    box-shadow: 1px 2px 1px #BFBDBD inset;
}

.rdw-colorpicker-option:hover {
    box-shadow: 1px 2px 1px #BFBDBD;
}

.rdw-colorpicker-option:active {
    box-shadow: -1px -2px 1px #BFBDBD;
}

.rdw-colorpicker-option-active {
    box-shadow: 0px 0px 2px 2px #BFBDBD;
}

.rdw-link-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    position: relative;
    flex-wrap: wrap
}

.rdw-link-dropdown {
    width: 50px;
}

.rdw-link-dropdownOption {
    height: 40px;
    display: flex;
    justify-content: center;
}

.rdw-link-dropdownPlaceholder {
    margin-left: 8px;
}

.rdw-link-modal {
    position: absolute;
    top: 35px;
    left: 5px;
    display: flex;
    flex-direction: column;
    width: 235px;
    height: 205px;
    border: 1px solid #F1F1F1;
    padding: 15px;
    border-radius: 2px;
    z-index: 100;
    background: white;
    box-shadow: 3px 3px 5px #BFBDBD;
}

.rdw-link-modal-label {
    font-size: 15px;
}

.rdw-link-modal-input {
    margin-top: 5px;
    border-radius: 2px;
    border: 1px solid #F1F1F1;
    height: 25px;
    margin-bottom: 15px;
    padding: 0 5px;
}

.rdw-link-modal-input:focus {
    outline: none;
}

.rdw-link-modal-buttonsection {
    margin: 0 auto;
}

.rdw-link-modal-target-option {
    margin-bottom: 20px;
}

.rdw-link-modal-target-option>span {
    margin-left: 5px;
}

.rdw-link-modal-btn {
    margin-left: 10px;
    width: 75px;
    height: 30px;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    cursor: pointer;
    background: white;
    text-transform: capitalize;
}

.rdw-link-modal-btn:hover {
    box-shadow: 1px 1px 0px #BFBDBD;
}

.rdw-link-modal-btn:active {
    box-shadow: 1px 1px 0px #BFBDBD inset;
}

.rdw-link-modal-btn:focus {
    outline: none !important;
}

.rdw-link-modal-btn:disabled {
    background: #ece9e9;
}

.rdw-link-dropdownoption {
    height: 40px;
    display: flex;
    justify-content: center;
}

.rdw-history-dropdown {
    width: 50px;
}

.rdw-embedded-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    position: relative;
    flex-wrap: wrap
}

.rdw-embedded-modal {
    position: absolute;
    top: 35px;
    left: 5px;
    display: flex;
    flex-direction: column;
    width: 235px;
    height: 180px;
    border: 1px solid #F1F1F1;
    padding: 15px;
    border-radius: 2px;
    z-index: 100;
    background: white;
    justify-content: space-between;
    box-shadow: 3px 3px 5px #BFBDBD;
}

.rdw-embedded-modal-header {
    font-size: 15px;
    display: flex;
}

.rdw-embedded-modal-header-option {
    width: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rdw-embedded-modal-header-label {
    width: 95px;
    border: 1px solid #f1f1f1;
    margin-top: 5px;
    background: #6EB8D4;
    border-bottom: 2px solid #0a66b7;
}

.rdw-embedded-modal-link-section {
    display: flex;
    flex-direction: column;
}

.rdw-embedded-modal-link-input {
    width: 88%;
    height: 35px;
    margin: 10px 0;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    font-size: 15px;
    padding: 0 5px;
}

.rdw-embedded-modal-link-input-wrapper {
    display: flex;
    align-items: center;
}

.rdw-embedded-modal-link-input:focus {
    outline: none;
}

.rdw-embedded-modal-btn-section {
    display: flex;
    justify-content: center;
}

.rdw-embedded-modal-btn {
    margin: 0 3px;
    width: 75px;
    height: 30px;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    cursor: pointer;
    background: white;
    text-transform: capitalize;
}

.rdw-embedded-modal-btn:hover {
    box-shadow: 1px 1px 0px #BFBDBD;
}

.rdw-embedded-modal-btn:active {
    box-shadow: 1px 1px 0px #BFBDBD inset;
}

.rdw-embedded-modal-btn:focus {
    outline: none !important;
}

.rdw-embedded-modal-btn:disabled {
    background: #ece9e9;
}

.rdw-embedded-modal-size {
    align-items: center;
    display: flex;
    margin: 8px 0;
    justify-content: space-between;
}

.rdw-embedded-modal-size-input {
    width: 80%;
    height: 20px;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    font-size: 12px;
}

.rdw-embedded-modal-size-input:focus {
    outline: none;
}

.rdw-emoji-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    position: relative;
    flex-wrap: wrap
}

.rdw-emoji-modal {
    overflow: auto;
    position: absolute;
    top: 35px;
    left: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 235px;
    height: 180px;
    border: 1px solid #F1F1F1;
    padding: 15px;
    border-radius: 2px;
    z-index: 100;
    background: white;
    box-shadow: 3px 3px 5px #BFBDBD;
}

.rdw-emoji-icon {
    margin: 2.5px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rdw-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.rdw-spinner>div {
    width: 12px;
    height: 12px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.rdw-spinner .rdw-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.rdw-spinner .rdw-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.rdw-image-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    position: relative;
    flex-wrap: wrap
}

.rdw-image-modal {
    position: absolute;
    top: 35px;
    left: 5px;
    display: flex;
    flex-direction: column;
    width: 235px;
    border: 1px solid #F1F1F1;
    padding: 15px;
    border-radius: 2px;
    z-index: 100;
    background: white;
    box-shadow: 3px 3px 5px #BFBDBD;
}

.rdw-image-modal-header {
    font-size: 15px;
    margin: 10px 0;
    display: flex;
}

.rdw-image-modal-header-option {
    width: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rdw-image-modal-header-label {
    width: 80px;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    margin-top: 5px;
}

.rdw-image-modal-header-label-highlighted {
    background: #6EB8D4;
    border-bottom: 2px solid #0a66b7;
}

.rdw-image-modal-upload-option {
    width: 100%;
    color: gray;
    cursor: pointer;
    display: flex;
    border: none;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    outline: 2px dashed gray;
    outline-offset: -10px;
    margin: 10px 0;
    padding: 9px 0;
}

.rdw-image-modal-upload-option-highlighted {
    outline: 2px dashed #0a66b7;
}

.rdw-image-modal-upload-option-label {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.rdw-image-modal-upload-option-label span {
    padding: 0 20px;
}

.rdw-image-modal-upload-option-image-preview {
    max-width: 100%;
    max-height: 200px;
}

.rdw-image-modal-upload-option-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.rdw-image-modal-url-section {
    display: flex;
    align-items: center;
}

.rdw-image-modal-url-input {
    width: 90%;
    height: 35px;
    margin: 15px 0 12px;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    font-size: 15px;
    padding: 0 5px;
}

.rdw-image-modal-btn-section {
    margin: 10px auto 0;
}

.rdw-image-modal-url-input:focus {
    outline: none;
}

.rdw-image-modal-btn {
    margin: 0 5px;
    width: 75px;
    height: 30px;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    cursor: pointer;
    background: white;
    text-transform: capitalize;
}

.rdw-image-modal-btn:hover {
    box-shadow: 1px 1px 0px #BFBDBD;
}

.rdw-image-modal-btn:active {
    box-shadow: 1px 1px 0px #BFBDBD inset;
}

.rdw-image-modal-btn:focus {
    outline: none !important;
}

.rdw-image-modal-btn:disabled {
    background: #ece9e9;
}

.rdw-image-modal-spinner {
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.rdw-image-modal-alt-input {
    width: 70%;
    height: 20px;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    font-size: 12px;
    margin-left: 5px;
}

.rdw-image-modal-alt-input:focus {
    outline: none;
}

.rdw-image-modal-alt-lbl {
    font-size: 12px;
}

.rdw-image-modal-size {
    align-items: center;
    display: flex;
    margin: 8px 0;
    justify-content: space-between;
}

.rdw-image-modal-size-input {
    width: 40%;
    height: 20px;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    font-size: 12px;
}

.rdw-image-modal-size-input:focus {
    outline: none;
}

.rdw-image-mandatory-sign {
    color: red;
    margin-left: 3px;
    margin-right: 3px;
}

.rdw-remove-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    position: relative;
    flex-wrap: wrap
}

.rdw-history-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    flex-wrap: wrap
}

.rdw-history-dropdownoption {
    height: 40px;
    display: flex;
    justify-content: center;
}

.rdw-history-dropdown {
    width: 50px;
}

.rdw-link-decorator-wrapper {
    position: relative;
}

.rdw-link-decorator-icon {
    position: absolute;
    left: 40%;
    top: 0;
    cursor: pointer;
    background-color: white;
}

.rdw-mention-link {
    text-decoration: none;
    color: #1236ff;
    background-color: #f0fbff;
    padding: 1px 2px;
    border-radius: 2px;
}

.rdw-suggestion-wrapper {
    position: relative;
}

.rdw-suggestion-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid #F1F1F1;
    min-width: 100px;
    max-height: 150px;
    overflow: auto;
    background: white;
    z-index: 100;
}

.rdw-suggestion-option {
    padding: 7px 5px;
    border-bottom: 1px solid #f1f1f1;
}

.rdw-suggestion-option-active {
    background-color: #F1F1F1;
}

.rdw-hashtag-link {
    text-decoration: none;
    color: #1236ff;
    background-color: #f0fbff;
    padding: 1px 2px;
    border-radius: 2px;
}

.rdw-image-alignment-options-popup {
    position: absolute;
    background: white;
    display: flex;
    padding: 5px 2px;
    border-radius: 2px;
    border: 1px solid #F1F1F1;
    width: 105px;
    cursor: pointer;
    z-index: 100;
}

.rdw-alignment-option-left {
    justify-content: flex-start;
}

.rdw-image-alignment-option {
    height: 15px;
    width: 15px;
    min-width: 15px;
}

.rdw-image-alignment {
    position: relative;
}

.rdw-image-imagewrapper {
    position: relative;
}

.rdw-image-center {
    display: flex;
    justify-content: center;
}

.rdw-image-left {
    display: flex;
}

.rdw-image-right {
    display: flex;
    justify-content: flex-end;
}

.rdw-image-alignment-options-popup-right {
    right: 0;
}

.rdw-editor-main {
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

.rdw-editor-toolbar {
    padding: 6px 5px 0;
    border-radius: 2px;
    border: 1px solid #F1F1F1;
    display: flex;
    justify-content: flex-start;
    background: white;
    flex-wrap: wrap;
    font-size: 15px;
    margin-bottom: 5px;
    user-select: none;
}

.editor-link-div .rdw-option-disabled {
    display: none;
}

.editor-link-div .rdw-link-modal {
    display: table !important;
}

.editor-link-div .rdw-link-modal .rdw-link-modal-label {
    visibility: hidden;
}

.editor-link-div .rdw-link-modal label[for="linkTitle"]:after {
    content: 'Холбоосын нэр';
    visibility: visible;
    display: block;
}

.editor-link-div .rdw-link-modal label[for="linkTarget"]:after {
    content: 'Холбоосын хаяг';
    visibility: visible;
    display: block;
}

.editor-link-div .rdw-link-modal .rdw-link-modal-target-option {
    display: none;
}

.editor-link-div .rdw-link-modal .rdw-link-modal-btn:first-child:before {
    content: 'Оруулах'
}

.editor-link-div .rdw-link-modal .rdw-link-modal-btn:last-child:before {
    content: 'Цуцлах'
}

.visible {
    visibility: visible !important
}

.invisible {
    visibility: hidden !important
}

.public-DraftStyleDefault-block {
    margin: 1em 0;
}

.rdw-editor-wrapper:focus {
    outline: none;
}

.rdw-editor-wrapper {
    box-sizing: content-box;
}

.rdw-editor-main blockquote {
    border-left: 5px solid #f1f1f1;
    padding-left: 5px;
}

.rdw-editor-main pre {
    background: #f1f1f1;
    border-radius: 3px;
    padding: 1px 10px;
}


.profile-info-edit-input {
    border: solid 1px #979797;
    background-color: #fff;
    color: #575962;
    width: 100%;
    outline: none;
    text-decoration: none;
    border-radius: 6px;
    padding: 1.5rem;
    resize: none;
    min-height: 160px;
}

.profile-info-edit-input::-webkit-scrollbar {
    width: 1rem;
}

.profile-info-edit-input::-webkit-scrollbar-thumb {
    background-color: #97979799;
    border-radius: 6px;
}

.upload-image-button {
    color: #5867DD !important;
    border-color: #5867DD !important;
    font-weight: 700;
    font-size: 12px;
    border-radius: 8px;
    padding: 8px;
    background: #ffffff;
    width: 156px;
    max-width: 100%;
    margin: auto;
}

.upload-image-button .modal-add-button {
    margin: 0;
}

.add-button {
    font-family: var(--font-heading);
    display: flex;
    align-items: center;
    padding: 4px 8px 4px 8px;
    font-size: 11px;
}

.add-button .import {
    background-color: #36a3f7;
}

.add-button .bio {
    font-size: 12px;
    border-radius: 12px;
}

.filter-button {
    align-items: center;
    font-family: var(--font-heading);
    padding: 8px;
    background: #41c5dc;
    color: white;
    font-size: 12px;
    font-weight: 700;
    border-radius: 8px;
}

.back-button {
    color: #ff2f1a !important;
    font-weight: 700;
    font-size: 14px;

    @include respond-below(sm) {
        font-size: 12px;
    }
}

.profile-avatar {
    height: 136px;
    width: 133px;
    border-radius: 100px;
}
@media screen and (max-width: 1700px) {
    .profile-avatar {
        height: 100px;
        width: 100px;
    }
    .upload-image-button {
        font-size: 12px;
        padding: 4px;
    }
}
@media screen and (max-width: 1501px) {
    .profile-avatar {
        height: 85px;
        width: 78px;
    }
    .upload-image-button {
        font-size: 12px;
        padding: 4px;
    }
}
@media screen and (max-width: 1450px) {
    .profile-avatar {
        height: 70px;
        width: 70px;
    }
    .upload-image-button {
        font-size: 12px;
        padding: 4px;
    }
}
.plan-filter{
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    padding: 0;
    margin-right: 8px;
    width: 100%;
}

.bs-gutter-x-0{
    --bs-gutter-x: 0;
}

.mini-ck-editor .ck.ck-reset{
    width: 100%;
}

.mini-ck-editor .ck.ck-toolbar__items{
    font-size: 10px;
}

.mini-ck-editor .resize-container{
    width: 100%;
}

.label-gray {
    color: #868AA5
}

.label-orange {
    color: #ff4900
}

.label-pinnacle-bold {
    font-family: 'PinnacleBold' !important;
    color: #575962 !important;
    font-size: 12px !important;
}

.label-pinnacle-regular {
    font-family: 'PinnacleRegular';
    color: #575962;
}

.display-4 {
    font-family: var(--font);
    font-size: 32px;
    line-height: 1.2;
    font-weight: 400;
  }

.circle-graph-title {
    left: 0 !important;
    right: 0 !important;
    text-align: center;
}
.relative{
    position: relative;
    right: 1px;
}

.ml-per-20{
    margin-left: 20%
}

@media screen and (max-width: 1000px) {
    .ml-per-20{
        margin-left: 0
    }
}
.hide-scroll-bar {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.hide-scroll-bar::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.study-plan-tab-style button {
    padding-left: 2rem;
    padding-right: 2rem;
}

.study-plan-tab-style button h5 {
    font-weight: bold;
}

.study-plan-tab-style .btn-empty{
    border: 1px solid #F1F2F4 !important;
}

.glide__arrows .btn-back-empty {
    color: white !important;
    cursor: default;
    width: 94px;
}

.glide__arrows .btn-back-empty:hover {
    background-color: white !important;
}

.green-background {
    background-color: #D5EBC5;
    /* opacity: 30%; */
}

.red-background {
    background-color: #F4B5C5;
    /* opacity: 30%; */
}

.study-plan-button-group button:hover {
    background-color: #3c358f !important;
}

.study-plan-button-group button:first-of-type {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.study-plan-button-group button:last-of-type {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.study-plan-button-group button:first-of-type .active {
    position: relative;
    right: 4px;
}

.study-plan-button-group button:last-of-type .active {
    position: relative;
    left: 4px;
}

.study-plan-button-group span.active{
    background-color: white;
    color: #3c358f;
    padding: 4px 6px;
    border-radius: 40px;
}

.fs-1 {
    font-size: .1rem !important;
}

.fs-2 {
    font-size: .2rem !important;
}

.fs-3 {
    font-size: .3rem !important;
}

.fs-4 {
    font-size: .4rem !important;
}

.fs-5 {
    font-size: .5rem !important;
}

.fs-6 {
    font-size: .6rem !important;
}

.fs-7 {
    font-size: .7rem !important;
}

.fs-8 {
    font-size: .8rem !important;
}

.fs-9 {
    font-size: .9rem !important;
}

.fs-10 {
    font-size: 1.0rem !important;
}

.fs-11 {
    font-size: 1.1rem !important;
}

.fs-12 {
    font-size: 1.2rem !important;
}

.fs-13 {
    font-size: 1.3rem !important;
}

.fs-14 {
    font-size: 1.4rem !important;
}

.fs-15 {
    font-size: 1.5rem !important;
}

.fs-16 {
    font-size: 1.6rem !important;
}

.fs-17 {
    font-size: 1.7rem !important;
}

.fs-18 {
    font-size: 1.8rem !important;
}

.fs-19 {
    font-size: 1.9rem !important;
}

.fs-20 {
    font-size: 2.0rem !important;
}

.fs-21 {
    font-size: 2.1rem !important;
}

.fs-22 {
    font-size: 2.2rem !important;
}

.fs-23 {
    font-size: 2.3rem !important;
}

.fs-24 {
    font-size: 2.4rem !important;
}

.fs-25 {
    font-size: 2.5rem !important;
}

.fs-35 {
    font-size: 3.5rem !important;
}

.webinar-tab-button-style button:not(active){
    text-justify: justify;
    background-color: rgb(	255, 91, 29);
    background-color: rgba(255, 91, 29, 0.2);
    color: #FF5B1D;
}

.webinar-tab-button-style button:not(active) span{
    opacity: 100% !important;
    color: #FF5B1D;
}

.w-350 {
    width: 350px !important;
}

.datepicker-default-border > div > input {
    border: 1px solid #ccc !important;
}

.council-accordion div.MuiButtonBase-root > div:nth-child(2){
    position: relative;
    bottom: 55px
}

.question-table-style table {
    width: 100%;
    border: 1px solid #dee2e6;
}
.question-table-style td, th {
    border: 1px solid #dee2e6;
    padding: 0.4rem 0.4rem
}
.main-student-padding-2-5rem {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: calc(var(--nav-size) + var(--main-spacing-horizontal) - 2.5rem) !important
}

.main-student-padding-2-5rem .container{
    padding-left: 0;
    padding-right: 0;
}

.eschool-player .controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 25px;
    display: flex;
    justify-content: space-around;
    opacity: 0.2;
    transition: opacity 0.4s;
}
.eschool-player:hover .controls {
    opacity: 1;
}
.eschool-player .controls button {
    background: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 40px;
}
.eschool-player .controls .timeline {
    flex: 1;
    display: flex;
    align-items: center;
    border: none;
    border-right: 3px solid #ccc;
    border-left: 3px solid #ccc;
}
.eschool-player .controls .timeline .bar{
    background: rgb(1, 1, 65);
    height: 4px;
    flex: 1;
}
.eschool-player .controls .timeline .bar .inner{
    background: #ccc;
    width: 0%;
    height: 100%;
}
.eschool-player .la {
    font-size: 26px !important;
}

.eschool-player .progress-bar {
    width: 100%;
    margin: auto 20px;
    background-color: #222;
    box-shadow: inset -1px 1px 1px #000;
    height: 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    border-radius: 10px;
    transition: all .2s linear;
}

.eschool-player .progress-bar:hover {
    height: 20px;
}

.eschool-player .progress-buffer {
    background-color: rgba(255, 255, 255, 0.1);
    width: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transition: all .01s linear;
    border-radius: 10px;
  }

.eschool-player .progress-thumb {
  background-color: #3c358f;
  width: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: all .01s linear;
  box-shadow: inset 1px 1px 1px #000B39;
  border-radius: 10px;
}

.eschool-player .progress-admin-thumb {
    background-color: #ff5b1d;
    width: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transition: all .01s linear;
    box-shadow: inset 1px 1px 1px #DA4107;
    border-radius: 10px;
}

.eschool-player .volume-container {
    position: relative;
}

.eschool-player .volume-slider {
    display: none;
    position: absolute;
    -webkit-appearance: slider-vertical;
    appearance: slider-vertical;
    width: 35px;
    bottom: 40px;
}

.eschool-player .volume-slider:hover,
.eschool-player .volume-container:hover .volume-slider {
    display: block;
}

.podcast-forms-style .eschool-select, .podcast-forms-style input.form-control, .podcast-forms-style .eschool-checkbox {
    width: 540px;
}


.form-control {
    display: block;
    width: 100%;
    padding: .65rem 1rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}

@media screen and (prefers-reduced-motion: reduce) {
    .form-control {
        -webkit-transition: none;
        transition: none
    }
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    /* border-color: #c2c7f3; */
    outline: 0;
    -webkit-box-shadow: 0 0 0 .2rem rgba(88, 103, 221, .25);
    box-shadow: 0 0 0 .2rem rgba(88, 103, 221, .25)
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:disabled, .form-control[readonly] {
    background-color: #f4f5f8;
    opacity: 1
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.55rem + 2px)
}

select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff
}

.form-control-file, .form-control-range {
    display: block;
    width: 100%
}

.podcast-view-style button.MuiTab-root {
    padding: 12px 32px 0 15px !important;
}
.other-podcast {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.other-podcast:hover {
    background-color: #F1F2F4;
    border-radius: 8px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.council-search-input:focus{
    border: 1px solid #3c358f;
}

.council-search-input {
    font-size: 0.9rem;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    width: 220px;
    border: 1px solid #EBEDF2;
    box-shadow: none;
    border-radius: 8px;
    height: 38px;
    font-family: 'Mulish';
    outline: none;
}

/* CUSTOM BUTTON STYLE */
.outline-danger-custom-1 {
    color:#F4516C;
    border:1px solid #F4516C;
}
.outline-danger-custom-1:hover{
    color:#fff;
    background-color:#F4516C;
    border-color:#F4516C
}
.btn-check:focus+
.outline-danger-custom-1,
.outline-danger-custom-1:focus{
    -webkit-box-shadow:0 0 0 .25rem rgba(244,81,108,0.5);
    box-shadow:0 0 0 .25rem rgba(244,81,108,0.5)
}
.btn-check:checked+
.outline-danger-custom-1,
.btn-check:active+
.outline-danger-custom-1,
.outline-danger-custom-1:active,
.outline-danger-custom-1.active,
.outline-danger-custom-1
.dropdown-toggle
.show{
    color:#fff;
    background-color:#F4516C;
    border-color:#F4516C
}
.btn-check:checked+
.outline-danger-custom-1:focus,
.btn-check:active+
.outline-danger-custom-1:focus,
.outline-danger-custom-1:active:focus,
.outline-danger-custom-1.active:focus,
.outline-danger-custom-1.dropdown-toggle.show:focus{
    -webkit-box-shadow:0 0 0 .25rem rgba(244,81,108,0.5);
    box-shadow:0 0 0 .25rem rgba(244,81,108,0.5)
}
.outline-danger-custom-1:disabled,
.outline-danger-custom-1.disabled{
    color:#F4516C;
    background-color:transparent
}

.outline-success-custom-1 {
    color:#3EBFA3;
    border:1px solid #3EBFA3;
}
.outline-success-custom-1:hover{
    color:#fff;
    background-color:#3EBFA3;
    border-color:#3EBFA3
}
.btn-check:focus+
.outline-success-custom-1,
.outline-success-custom-1:focus{
    -webkit-box-shadow:0 0 0 .25rem rgba(62,191,163,0.5);
    box-shadow:0 0 0 .25rem rgba(62,191,163,0.5)
}
.btn-check:checked+
.outline-success-custom-1,
.btn-check:active+
.outline-success-custom-1,
.outline-success-custom-1:active,
.outline-success-custom-1.active,
.outline-success-custom-1
.dropdown-toggle
.show{
    color:#fff;
    background-color:#3EBFA3;
    border-color:#3EBFA3
}
.btn-check:checked+
.outline-success-custom-1:focus,
.btn-check:active+
.outline-success-custom-1:focus,
.outline-success-custom-1:active:focus,
.outline-success-custom-1.active:focus,
.outline-success-custom-1.dropdown-toggle.show:focus{
    -webkit-box-shadow:0 0 0 .25rem rgba(62,191,163,0.5);
    box-shadow:0 0 0 .25rem rgba(62,191,163,0.5)
}
.outline-success-custom-1:disabled,
.outline-success-custom-1.disabled{
    color:#3EBFA3;
    background-color:transparent
}

.la-old {
    display: inline-block;
    font: normal normal normal 22px/1 LineAwesomeOld !important;
    font-size: inherit;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased
}

.la-file-excel-o:before {
    content: "\f1e3" !important;
}
/* CUSTOM BUTTON STYLE END */
@media print {
    .print-page-break { page-break-before: always; }
    #pageFooter:after {
        counter-increment: page;
        content:"Page " counter(page);
        left: 0;
        top: 100%;
        white-space: nowrap;
        z-index: 20;
        -moz-border-radius: 5px;
        -moz-box-shadow: 0px 0px 4px #222;
        background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    }
}

.crossword-style .direction .header {
    font-size: 1.2rem;
}

.crossword-tab-panel-style > div{
    padding: 0 0 24px 24px;
}

.crossword-tab-style {
    width: 320px;
    max-width: 320px;
    min-width: 320px;
}

.crossword-tab-style .MuiTabs-flexContainer.MuiTabs-flexContainerVertical {
    width: 320px;
}

.crossword-tab-style button.MuiTab-root {
   padding: 12px !important; 
   font-size: 13px !important;
}

.crossword-tab-style .cross-add-style {
    background: #ff4900;
    color: white;
    min-height: 50px;
}

.crossword-tab-style .cross-label-style {
    min-height: 50px;   
}

.crossword-tab-style .MuiTabs-indicator{
    background-color: #ff4900;
}

.is-open-crossword-modal {
    display: none !important;
}

.student-crossword-style .clue {
    margin-left: 20px;
}

.student-crossword-style .incorrect:before{
    content: '';
    background: url('/img/crossword/incorrect.svg');
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -25px;
}

.student-crossword-style .correct:before{
    content: '';
    background: url('/img/crossword/correct.png');
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -25px;
}

.student-crossword-style .clue:not(.correct):before {
    content: '';
    background: url('/img/crossword/incorrect.svg');
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -25px;
}

.student-crossword-style svg {
    pointer-events: none !important;
}

.form-group {
    margin-bottom: 1rem
}

.form-text {
    display: block;
    margin-top: .25rem
}

.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px
}

.form-row > .col, .form-row > [class*=col-] {
    padding-right: 5px;
    padding-left: 5px
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem
}

.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem
}

.form-check-input:disabled ~ .form-check-label {
    color: #6c757d
}

.form-check-label {
    margin-bottom: 0
}

.form-check-inline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: .75rem
}

.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: .3125rem;
    margin-left: 0
}

.dropdown {
    background-color: transparent;
}