.button-outline {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: var(--font-heading);
    border: 1px solid #36a3f7;
    height: 30px;
    padding: 5px 8px;
    border-radius: 8px;
    text-transform: uppercase;
    color: #36a3f7;
    font-size: 12px;
    font-weight: 700;

    &.primary {
        border-color: var(--primary) !important;
        color: var(--primary) !important;
    }

    &.green {
        border-color: #3ebfa3 !important;
        color: #3ebfa3 !important;
    }

    &.exam-start {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 52px;
    }
}

.primary-button {
    cursor: pointer;
    font-family: var(--font-heading);
    display: flex;
    align-items: center;
    padding: 4px 6px 4px 6px;
    font-size: 12px;
    background-color: #ff5b1d;
    border-radius: 6px;
    color: white;
}

.add-button {
    font-family: var(--font-heading);
    display: flex;
    align-items: center;
    padding: 4px 8px 4px 8px;
    font-size: 11px;

    &.import {
        background-color: #36a3f7;
    } 
    &.bio {
        font-size: 12px;
        border-radius: 12px;
    }
}

// .add-button:focus {
//     background-color: #36a3f7 !important; 
// }

.close-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: auto;
    padding: 3px;
    border-radius: 6px;
    background-color: #f4516b;

    &.absolute {
        position: absolute;
        top: 0px;
        right: -15px;
    }

    &.margin-0 {
        margin: 0;
    }
}

.save-icon {
    padding: 0;
    
    &.absolute {
        position: absolute;
        top: -15px;
        right: -15px;
    }

    &.margin-0 {
        margin: 0;
    }
}

.reset-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: auto;
    padding: 3px;
    border-radius: 6px;

    &.absolute {
        position: absolute;
        top: -15px;
        right: -15px;
    }

    &.margin-0 {
        margin: 0;
    }
}

.clear-button {
    font-family: var(--font-heading);
    color: #ff2f1a !important;
    font-size: 14px;
    font-weight: 700;
    margin-top: 64px;
    text-align: center;
}

.filter-button {
    align-items: center;
    font-family: var(--font-heading);
    padding: 8px;
    background: #41c5dc;
    color: white;
    font-size: 12px;
    font-weight: 700;
    border-radius: 8px;
}

.back-button {
    color: #ff2f1a !important;
    font-weight: 700;
    font-size: 14px;

    @include respond-below(sm) {
        font-size: 12px;
    }
}

.save-button {
    cursor: pointer;
    font-family: var(--font-heading);
    background: #5dd75c;
    height: 34px;
    border-radius: 8px;
    padding: 7px 28px;
    font-size: 14px;
    font-weight: 700;

    &.exam-button {
        background: #41c5dc;
    }

    &.secondary {
        background-color: #3ebfa3;
    }
}

.proceed-button {
    cursor: pointer;
    font-family: var(--font-heading);
    background: #41c5dc;
    height: 34px;
    border-radius: 8px;
    padding: 7px 28px;
    font-size: 14px;
    font-weight: 700;
}

.cancel-button {
    cursor: pointer;
    font-family: var(--font-heading);
    color: #ff2f1a !important;
    font-size: 14px;
    font-weight: 700;
}

.quiz-button {
    cursor: pointer;
    font-family: var(--font-heading);
    font-size: 16px;
    // width: 92px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

    &.incomplete {
        border: 1px solid rgba(255, 91, 29, 0.3);
    }

    &.complete {
        color: white;
        border: 1px solid #3ebfa3;
        background: #3ebfa3;
    }

    &.current {
        border: 1px solid #ff5b1d;
        box-shadow: 0px 1px 10px rgba(255, 91, 29, 0.2);
    }
}

.quiz-result-button {
    font-family: var(--font-heading);
    color: white;
    font-size: 16px;
    height: 50px;
    // width: 92px;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &.incorrect {
        background-color: #f4516b;
    }

    &.correct {
        background-color: #3ebfa3;
    }

    &.current {
        // width: 100px;
        height: 58px;
    }
}

.upload-image-button {
    color: #5867DD !important;
    border-color: #5867DD !important;
    font-weight: 700;
    font-size: 12px;
    border-radius: 8px;
    padding: 8px;
    background: #ffffff;
    width: 156px;
    max-width: 100%;
    margin: auto;

    &.modal-add-button {
        margin: 0;
    }

    @include respond-below(sm) {
        font-size: 10px;
    }
}