.rc-tree {
  margin: 0;
}
.rc-tree [role="treeitem"] {
  margin: 0;
  padding: 0;
  line-height: 20px;
  white-space: nowrap;
  list-style: none;
  outline: 0;
}

.rc-tree [role="treeitem"].filter-node > .rc-tree-node-content-wrapper {
  color: #a60000 !important;
  font-weight: bold !important;
}
.rc-tree [role="treeitem"] ul {
  margin: 0;
  padding: 0 0 0 18px;
}

.rc-tree [role="treeitem"] ul li:before {
  content: "├";
  font-size: 18px;
  margin-left: -16px;
  margin-top: 1px;
  vertical-align: middle;
  float: left;
  width: 8px;
  color: #41424e;
}

.rc-tree [role="treeitem"] ul li:last-child:before {
  content: "└";
}
.rc-tree [role="treeitem"] .rc-tree-node-content-wrapper {
  display: inline-block;
  height: 17px;
  margin: 0;
  padding: 1px 3px 0 0;
  text-decoration: none;
  vertical-align: top;
  cursor: pointer;
}
.rc-tree-switcher_open_operation {
  display: flex;
  justify-content: center;
  font-weight: 450;
  color: white;
}
.rc-tree-child-tree {
  display: block;
}

.node-motion {
  transition: all 0.3s;
  overflow-y: hidden;
}

.node-motion-enter,
.node-motion-leave-active {
  height: 0;
}

.rc-tree [role="treeitem"] span.rc-tree-switcher,
.rc-tree [role="treeitem"] span.rc-tree-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  line-height: 16px;
  border: 0 none;
  outline: none;
  cursor: pointer;
}
.rc-tree [role="treeitem"] span.rc-tree-switcher.rc-tree-icon__customize,
.rc-tree [role="treeitem"] span.rc-tree-checkbox.rc-tree-icon__customize,
.rc-tree [role="treeitem"] span.rc-tree-iconEle.rc-tree-icon__customize {
  background-image: none;
}
.rc-tree [role="treeitem"] span.rc-tree-icon_loading {
  margin-right: 2px;
  vertical-align: top;
  background: url("data:image/gif;base64,R0lGODlhEAAQAKIGAMLY8YSx5HOm4Mjc88/g9Ofw+v///wAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgAGACwAAAAAEAAQAAADMGi6RbUwGjKIXCAA016PgRBElAVlG/RdLOO0X9nK61W39qvqiwz5Ls/rRqrggsdkAgAh+QQFCgAGACwCAAAABwAFAAADD2hqELAmiFBIYY4MAutdCQAh+QQFCgAGACwGAAAABwAFAAADD1hU1kaDOKMYCGAGEeYFCQAh+QQFCgAGACwKAAIABQAHAAADEFhUZjSkKdZqBQG0IELDQAIAIfkEBQoABgAsCgAGAAUABwAAAxBoVlRKgyjmlAIBqCDCzUoCACH5BAUKAAYALAYACgAHAAUAAAMPaGpFtYYMAgJgLogA610JACH5BAUKAAYALAIACgAHAAUAAAMPCAHWFiI4o1ghZZJB5i0JACH5BAUKAAYALAAABgAFAAcAAAMQCAFmIaEp1motpDQySMNFAgA7")
    no-repeat scroll 0 0 transparent;
}

.rc-tree [role="treeitem"] span.rc-tree-switcher.rc-tree-switcher_open {
  border-radius: 50%;
  background: #1778ff;
}

.rc-tree [role="treeitem"] span.rc-tree-switcher.rc-tree-switcher_close {
  border-radius: 50%;
  background: none;
  border: black 0.5px solid;
}
.rc-tree
  [role="treeitem"]
  span.rc-tree-switcher.rc-tree-switcher_close
  .rc-tree-switcher_open_operation {
  color: black;
}

.rc-tree [role="treeitem"] span.rc-tree-checkbox {
  width: 13px;
  height: 13px;
  margin: 0 3px;
  background-position: 0 0;
  border-radius: 3px;
}
.rc-tree [role="treeitem"] span.rc-tree-checkbox-checked {
  background-position: -14px 0;
}
.rc-tree [role="treeitem"] span.rc-tree-checkbox-indeterminate {
  background-position: -14px -28px;
}
.rc-tree [role="treeitem"] span.rc-tree-checkbox-disabled {
  background-position: 0 -56px;
}
.rc-tree
  [role="treeitem"]
  span.rc-tree-checkbox.rc-tree-checkbox-checked.rc-tree-checkbox-disabled {
  background-position: -14px -56px;
}
.rc-tree
  [role="treeitem"]
  span.rc-tree-checkbox.rc-tree-checkbox-indeterminate.rc-tree-checkbox-disabled {
  position: relative;
  background: #ccc;
  border-radius: 3px;
}
.rc-tree
  [role="treeitem"]
  span.rc-tree-checkbox.rc-tree-checkbox-indeterminate.rc-tree-checkbox-disabled::after {
  position: absolute;
  top: 5px;
  left: 3px;
  width: 5px;
  height: 0;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  content: " ";
}

.rc-tree.rc-tree-show-line [role="treeitem"] > .rc-tree-switcher-noop {
  background: none;
  width: 10px;
}

.rc-tree-child-tree {
  display: none;
}
.rc-tree-child-tree-open {
  display: block;
}
.rc-tree-treenode-disabled > span:not(.rc-tree-switcher),
.rc-tree-treenode-disabled > a,
.rc-tree-treenode-disabled > a span {
  color: #767676;
  cursor: not-allowed;
}
.rc-tree-node-selected {
  background-color: #ffe6b0;
  border: 1px #ffb951 solid;
  opacity: 0.8;
}
.rc-tree-icon__open {
  margin-right: 2px;
  vertical-align: top;
  background-position: -110px -16px;
}
.rc-tree-icon__close {
  margin-right: 2px;
  vertical-align: top;
  background-position: -110px 0;
}

.rc-tree-icon__customize {
  margin-right: 2px;
  vertical-align: top;
}
.rc-tree-indent-unit {
  display: inline-block;
  padding-left: 18px;
}
