@media only screen and (max-width: 990px) {
    #contentArea {
        position: relative;
        top: 70px;
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

    .student-page-title-container{
        right: 0;
        width: 100% !important;
    }

    #main-student-id{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #main-student-id #contentArea .pr-3{
        padding-right: 0;
    }

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .student-page-title-container h1 {
        margin-left: 1.5rem;
    }

    .student-page-title-container > div {
        position: relative;
        left: 1rem;
    }

    .student-dummy-white {
        display: none;
    }

    .nav-content{
        justify-content: space-between;
    }

    .nav-content .mobile-buttons-container.menu{
        justify-content: right;
        padding-right: 20px;
    }

    .student-info-mobile-style{
        display: none !important;
    }

    .mobile-side-ready .student-info-mobile-style{
        display: block !important;
    }

    .menu-student-icon{
        height: auto !important;
    }

    .mobile-buttons-container {
        height: auto !important;
    }

    .mobile-buttons-container .mobile-buttons-container.logo{
        justify-content: left;
    }

    .mobile-buttons-container.logo a{
        height: auto !important;
    }

    html[data-placement=horizontal][data-dimension=mobile] .nav-container .mobile-buttons-container{
        margin-left: inherit !important;
    }
}

@media only screen and (max-width: 580px) {
    .student-detail-list {
        width: 100%;
        max-width: 100% !important;
        padding: 20px !important;
    }

    .student-course-view-area {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .student-page-title-container {
        width: 100% !important;
    }

    .expand-icon{
        display: none;
    }

    /* .student-course-view-area .card-body {
        height: auto !important;
    } */

    .student-view-modal {
        object-fit: contain !important;
    }

    .student-online-lesson-text {
        margin-left: 25px
    }

    .student-course-exam-buttons span{
        display: none;
    }

    .student-page-title-container .student-course-exam-back-icon-container {
        margin-left: 0 !important;
    }

    .student-logout-button-style button{
        position: absolute;
        right: 0;
        bottom: 70px;
    }

    .dnd-style .d-flex {
        padding: 0 !important;
    }

    .student-exam-report-back-button {
        position: absolute;
        top: 0;
    }

    .student-exam-report-back-button button{
        padding-right: 0;
    }

    .student-exam-report-back-button h1{
        margin-left: 0.5rem;
    }

    .student-podcast-title {
        margin-left: 25px;
    }

    #podcast-view-style-id {
        display: block !important;
    }

    #podcast-view-style-id > div:first-of-type{
        padding-right: 0 !important;
    }

    #podcast-view-style-id div:last-of-type .card{
        margin-right: 0 !important;
    }

    #podcast-view-style-id div:last-of-type .card-body{
        width: 100% !important;
    }

    .student-exam-report-col-3 {
        margin-bottom: 10px;
    }

    .student-exam-report-top-card {
        margin-top: 50px;
    }

    .student-exam-report-header {
        margin-top: 20px;   
    }

    .student-exam-report-dropzone div:first-of-type {
        margin-left: 5px;
    }

    .student-exam-report-dropzone div:last-of-type {
        left: 0 !important;
        top: 2px;
        right: 5px;
        margin-left: 5px;
        position: relative;
    }

    .student-exam-report-grid-items {
        width: 100%;
        padding-left: 15px !important;
        padding-right: 20px !important;
        padding-bottom: 2px !important;
    }

    .student-exam-report-grid-items div {
        margin-bottom: 0 !important;
    }
}

@media only screen and (max-width: 500px) {
    .student-course-list {
        width: 500px !important;
    }
}

@media only screen and (max-width: 490px) {
    .student-course-list {
        width: 490px !important;
    }
}

@media only screen and (max-width: 480px) {
    .student-course-list {
        width: 480px !important;
    }
}

@media only screen and (max-width: 470px) {
    .student-course-list {
        width: 470px !important;
    }
}

@media only screen and (max-width: 460px) {
    .student-course-list {
        width: 460px !important;
    }
}

@media only screen and (max-width: 450px) {
    .student-course-list {
        width: 450px !important;
    }
}

@media only screen and (max-width: 440px) {
    .student-course-list {
        width: 440px !important;
    }
}

@media only screen and (max-width: 430px) {
    .student-course-list {
        width: 430px !important;
    }
}

@media only screen and (max-width: 420px) {
    .student-course-list {
        width: 420px !important;
    }
}

@media only screen and (max-width: 410px) {
    .student-course-list {
        width: 410px !important;
    }
}

@media only screen and (max-width: 400px) {
    .student-course-list {
        width: 400px !important;
    }
}

@media only screen and (max-width: 390px) {
    .student-course-list {
        width: 395px !important;
    }
}

@media only screen and (max-width: 380px) {
    .student-course-list {
        width: 385px !important;
    }
}

@media only screen and (max-width: 370px) {
    .student-course-list {
        width: 375px !important;
    }
}

@media only screen and (max-width: 360px) {
    .student-course-list {
        width: 365px !important;
    }
}

@media only screen and (max-width: 350px) {
    .student-course-list {
        width: 355px !important;
    }
}

@media only screen and (max-width: 340px) {
    .student-course-list {
        width: 345px !important;
    }
}

@media only screen and (max-width: 330px) {
    .student-course-list {
        width: 335px !important;
    }
}

@media only screen and (max-width: 320px) {
    .student-course-list {
        width: 325px !important;
    }
}

@media only screen and (max-width: 310px) {
    .student-course-list {
        width: 315px !important;
    }
}

@media only screen and (max-width: 300px) {
    .student-course-list {
        width: 305px !important;
    }
}

@media only screen and (max-width: 290px) {
    .student-course-list {
        width: 290px !important;
    }
}

@media only screen and (max-width: 280px) {
    .student-course-list {
        width: 280px !important;
    }
}

@media only screen and (max-width: 270px) {
    .student-course-list {
        width: 270px !important;
    }
}

@media only screen and (max-width: 260px) {
    .student-course-list {
        width: 260px !important;
    }
}